<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Account</title>
        <meta charset="utf-8">
        <script defer src="/cdn/scripts/createaccount/index.js"></script>
    </head>
    <body>
        <h1>Create Account</h1>
        <form>
            <label for="username">enter username:</label>
            <input type="text" id="username" name="username" placeholder="enter username">
            <br><br>

            <label for="student-number">enter username:</label>
            <input type="text" id="student-number" name="student-number" placeholder="enter student number">
            <br><br>

            <label for="create-password">create password:</label>
            <input type="password"  name="create-cpassword" id="create-password" placeholder= "create password">
            <br><br>

            <label for="password">cornfirm password:</label>
            <input type="password"  name="confirm-password" id="confirm-password" placeholder= "confirm password">
            <br><br>

            <input type="submit" value="Create Account">

        </form>
    </body>
</html>